node_modules/
.expo/
dist/
dist-web/
web-build/
.vscode/

*.tsbuildinfo
npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
.env*.local

ios/
ios
ios/**
ios/Pods/
ios/Pods/**
android/
android
android/**
*.jks
*.p8
*.p12
*.key
*.mobileprovision
